# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env
.venv
ENV/

# IDE files
.idea/
.vscode/
*.swp
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints/

# Cache files
.ruff_cache/
.mypy_cache/
.pytype/
cython_debug/
